.comparison-content {
  padding: 10px 10px 40px;
}

.comparison-header {
  margin-bottom: 25px;
}

.comparison-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparison-name {
  font-size: 18px;
}

.comparison-image {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 768px) {
  .comparison-image {
    width: 200px;
    height: 200px;
  }
}
