@import '~antd/dist/antd.css';

#pokemon-app {
  max-width: 768px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#reset-btn {
  margin-left: 10px;
}

main {
  margin-top: 15px;
}

.pokemon-list {
  max-width: 768px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-selected, .pokemon-card-selected:hover {
  border: 1px solid #1890ff;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.checkbox > .ant-checkbox {
  border: 1px solid #1890ff;
  border-radius: 4px;
}

.comparison-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 70px;
  bottom: 20px;
  background-color: #fff;
  width: calc(100% - 20px);
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
  box-shadow: 2px 4px 15px 0 rgb(0 0 0 / 25%);
}

.compare-thumbnail {
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 360px) {  
  .filter-group {
    flex-direction: row;
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {  
  .pokemon-list {
    grid-template-columns: 32.5% 32.5% 32.5%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 10px 0;
  }
  
  .pokemon-list {
    padding: 0;
  }
}